@import '~antd/dist/antd.css';

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
  animation: fadein 1s;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color:white;
  height: 110px;
  padding: 20px 20px 0px;
  color: white;
  text-align: left;
  img {
    width: 170px;
    height: 55px;
  }
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 -5px 10px;
}

.App-intro {
  font-size: large;
}

.last-in-order {
  order: 3;
}

.ant-table-wrapper {
  .table {
    thead, td {
      vertical-align: middle;
      text-align: left;
    }
  }
  .person {
    text-align: left;
    font-size: 1.3em;
    .avatar {
      border-radius: 50%;
      background-color: lightgrey;
      width: 72px;
      height: 72px;
      img {
        border-radius: 50%;
        margin-right: 20px;
      }
    }
    a {
      color: #222;
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .progress {
    height: 2px;
  }
  .ant-progress-status-success .ant-progress-bg, .ant-progress-status-normal .ant-progress-bg {
    background-color: #1890ff !important;
  }
  
  .ant-progress-small.ant-progress-line {
    margin-top: -9px;
    display: block;
  }
  
  .ant-progress-inner, .ant-progress-bg {
    height: 5px !important;
  }
  
  .ant-table-tbody > tr:hover > td {
    background: #f6f6f6;
  }  
}

.customer-profile {
  animation: fadein 1s;
  .invisible {
    opacity: 0;
  }
  .editable {
    display: inline;
    &.hidden {
      opacity: 0;
    }
  }
  .editable:hover {
    padding: 2px 5px 3px 5px;
    margin: -2px -5px;
    background: yellow;
    border-radius: 4px;
    cursor: pointer;
  }
  h2 {
    font-size: 48px;
    font-weight: 300;
    &.editable:hover {
      padding: 0 12px 3px 12px;
      margin: -2px -5px -2px -12px;
      border-radius: 8px;
    }
  }
  .avatar {
    border-radius: 50%;
    background-color: lightgrey;
    margin: 10px;
    margin: 0 auto;
    display: block;
    width: 172px;
    height: 172px;
    img {
      border-radius: 50%;
    }
  }
  .customer-lifetime-value {
    text-align: center;
    > div {
      margin-top: -25px;
    }
    .label {
      font-size: 10px;
      text-transform: uppercase;
    }
    .value {
      font-size: 30px;
      background-color: #8cb911;
      color: white;
      border-radius: 13px;
      padding: 0px 15px;
      font-weight: 700;
      text-align: center;
    }
  }
  .delete-button {
    display: block;
    cursor: pointer;
    padding: 2px;
    margin: 10px auto;
    width: 120px;
    border-radius: 3px;
    &:hover {
      color: white;
      background-color: red;
    }
  }
  hr {
    width: 150px;
    margin: 20px auto;
  }
  .date-picker-component {
    font-size: 20px;
    margin-bottom: 13px;
  }
  .ant-input{
    width: 150px;
  }
  .ant-btn-lg {
    height: 41px;
  }
  .ant-radio-group {
    margin-top: 8px;
  }
  form span { 
    display: inline-block;
    &> * {
      margin: 3px 5px 3px 0;
    }
  }
  .names-form {
    display: block;
    margin: -55px 0 7px 0;
    > span {
      margin-right: 10px;
    }
    &.hidden {
      display: none;
    }
  }
  .date-form {
    margin: -38px 0 -15px 0;
    &.hidden {
      display: none;
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

._loading-overlay{
  height: calc(100vh - 120px);
}

@media screen and (max-width: 768px) {
  .last-in-order {
    order: 1;
  }
  .customer-profile {
    .personal-details {
      text-align: center;
    }
    h2 {
      &.editable:hover {
        padding: 0 12px 3px 12px;
        margin: -2px -5px;
      }
    }
  }
}


