.App {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }

.App-logo {
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.react-bootstrap-table .table thead, .react-bootstrap-table .table td {
  vertical-align: middle;
  text-align: left; }

.react-bootstrap-table .person {
  text-align: left;
  font-weight: 700; }
  .react-bootstrap-table .person img {
    border-radius: 50%;
    margin-right: 20px; }
  .react-bootstrap-table .person a {
    color: #222; }

.react-bootstrap-table .progress {
  height: 2px; }
