@import '~antd/dist/antd.css';

.App {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color:white;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ant-table-wrapper {
  .table {
    thead, td {
      vertical-align: middle;
      text-align: left;
    }
  }
  .person {
    img {
      border-radius: 50%;
      margin-right: 20px;
    }
    text-align: left;
    font-weight: 700; 
    a {
      color: #222;
    }
  }
  .progress {
    height: 2px;
  }
}

.avatar {
  border-radius: 50%;
  background-color: lightgrey;
  margin: 10px;
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

._loading-overlay{
  height: calc(100vh - 150px);
}