@import '~antd/dist/antd.css';

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color:white;
  height: 110px;
  padding: 20px 20px 0px;
  color: white;
  text-align: left;
  img {
    width: 170px;
    height: 55px;
  }
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 -5px 10px;
}

.App-intro {
  font-size: large;
}

.ant-table-wrapper {
  .table {
    thead, td {
      vertical-align: middle;
      text-align: left;
    }
  }
  .person {
    text-align: left;
    font-size: 1.3em;
    img {
      border-radius: 50%;
      margin-right: 20px;
    }
    a {
      color: #222;
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .progress {
    height: 2px;
  }
}

.customer-profile {
  text-align: center;
  .invisible {
    opacity: 0;
    animation: fadeIn;
  }
  .editable {
    display: inline;
    &.hidden {
      opacity: 0;
    }
  }
  .editable:hover {
    padding: 2px 5px 3px 5px;
    margin: -2px -5px;
    background: yellow;
    border-radius: 4px;
    cursor: pointer;
  }
  h2 {
    font-size: 48px;
    font-weight: 300;
    &.editable:hover {
      padding: 0 12px 3px 12px;
      margin: -2px -5px;
      border-radius: 8px;
    }
  }
  .avatar {
    border-radius: 50%;
    background-color: lightgrey;
    margin: 10px;
    animation: fadein 1s;
    margin: 0 auto;
    display: block;
  }
  .customer-lifetime-value {
    > div {
      margin-top: -25px;
    }
    .label{
      font-size: 10px;
      text-transform: uppercase;
    }
    .value{
      font-size: 30px;
      background-color: #8cb911;
      color: white;
      border-radius: 13px;
      padding: 0px 15px;
      font-weight: 700;
      text-align: center;
    }
  }
  hr {
    width: 150px;
    margin: 20px auto;
  }
  .date-picker-component {
    font-size: 20px;
    margin-bottom: 13px;
  }
  .ant-input{
    width: 250px;
  }
  .ant-btn-lg {
    height: 41px;
  }
  form span { 
    display: inline-block;
    &> * {
      margin: 3px;
    }
  }
  .names-form {
    display: block;
    margin: -50px 0 2px 0;
    &.hidden {
      display: none;
    }
  }
  .date-form {
    margin: -38px 0 -15px 0;
    &.hidden {
      display: none;
    }
  }
  .buttons {
    margin-left: 10px;
  }

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

._loading-overlay{
  height: calc(100vh - 120px);
}

.ant-progress-status-success .ant-progress-bg {
  background-color: #1890ff;
}

.ant-progress-small.ant-progress-line {
  margin-top: -9px;
  display: block;
}

.ant-progress-inner, .ant-progress-bg {
  height: 5px !important;
}

.ant-table-tbody > tr:hover > td {
  background: #f6f6f6;
}


